.cursor{
    cursor:  pointer;
    color: white;
    background-color: black;
    
}

#header{
    background-color: black;
}

.text-decorator-none{
    text-decoration: none;
    background-color: black;
}