.caixa{
    background-color: black;
}

.titulo{
   color: white !important;
   font-weight: bold !important;
}

.botao{
    border-color: white !important;
    background-color: #3F51B5 !important;
    color: white !important;
}

.postagens{
        background-color: black !important;
        color: rgba(255, 255, 255, 0.922) !important;
    
}